.container .filters  {
  background:white;
  height:70px;
  width:100%;
  border: 1px #DDDDDD;
  border-radius: 4px;
}

button {
  font-size: 18px;
  background: #FF5A5F;
  color: #FFFFFF;
  height: 48px;
  width: 20%;
  border-style: none;
  border-radius: 4px;
  top: 0;
  left: 80%;
  position: relative;
}
button:hover {
  opacity:90%;
}
